<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-collapse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-center">
                    <li><button id="userButton" type="button" class="btn btn-default navbar-btn">Users</button></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><button id="gameinfoButton" type="button" class="btn btn-default navbar-btn">GameInfo</button></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><button id="gameinfo3Button" type="button" class="btn btn-default navbar-btn">GameInfo3</button></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><button id="gameinfo7Button" type="button" class="btn btn-default navbar-btn">GameInfo7</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="resultDiv" class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
                <table class="table table-striped table-condensed">
                    <thead id="resultHead">
                    </thead>
                    <tbody id="resultBody">
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src='src/config.js'></script>
<script type="text/javascript">
    var getUsers = function(){
        var query = {};//{sort:{id:1}};
        var queryStr = JSON.stringify(query);
        $.ajax({
            url: '/admin',
            type: 'post',
            data: {type:0, collection:"users", query:queryStr},
            success: function(data,status){
                if(status == 'success'){
                    $('#resultHead').empty();
                    $('#resultBody').empty();
                    var head = ["id","password","level","score","win","lose","disconnect","single40Times","single40Best","setting", "keyboard"];
                    var thStr = "";
                    for(var i = 0; i < data.length; i++){
                        var tdStr = "";
                        for(var j = 0; j < head.length; j++){
                            var item = head[j];
                            if(item === "_id") continue;
                            if(i === 0)
                                thStr += "<td>"+item+"</td>";
                            var str = "";
                            if(item === "keyboard"){
                                var count = 0;
                                for(var t in data[i][item]){
                                    var keystr;
                                    if(t=="dasDelay" || t=="moveDelay")
                                        keystr = data[i][item][t];
                                    else
                                        keystr = key[data[i][item][t]];
                                    str += t+":"+keystr+";";
                                    count++;
                                    if(count===4){
                                        count=0;
                                        str+="<br>";
                                    }
                                }
                            }
                            else if(item === "setting"){
                                for(var t in data[i][item]){
                                    str += t+":"+data[i][item][t]+";";
                                }
                            }
                            else
                                str = data[i][item];
                            tdStr+="<td>"+str+"</td>";
                        }
                        $('#resultBody').append("<tr>"+tdStr+"</tr>");
                    }
                    $('#resultHead').append("<tr>"+thStr+"</tr>");
                }
            },
            error: function(data,err){
                $("#datas").text(err);
            }
        });
    };
    var getGameInfo = function(day){
        var date = new Date();
        if(day)
            date.setDate(date.getDate()-day);
        date.setHours(0);date.setMinutes(0);date.setSeconds(0);
        console.log(date.toLocaleString())
        var query = {time: { $gte: date.getTime() }};
        var queryStr = JSON.stringify(query);
        var head = ["id","id2","type","roomId","time"];
        $.ajax({
            url: '/admin',
            type: 'post',
            data: {type: 0, collection: "gameinfo", query: queryStr},
            success: function(data, status){
                if(status == 'success'){
                    $('#resultHead').empty();
                    $('#resultBody').empty();
                    var thStr = "";
                    for(var i = 0; i < data.length; i++){
                        var tdStr = "";
                        for(var j = 0; j < head.length; j++){
                            var item = head[j];
                            if(i === 0)
                                thStr += "<td>"+item+"</td>";
                            var str;
                            if(item === "time"){
                                str = new Date(data[i][item]).toLocaleString();
                            }
                            else{
                                str = data[i][item];
                                if(str===undefined)
                                    str = "";
                            }
                            tdStr+="<td>"+str+"</td>";
                        }
                        $('#resultBody').append("<tr>"+tdStr+"</tr>");
                    }
                    $('#resultHead').append("<tr>"+thStr+"</tr>");
                }
            },
            error: function(data, err){
                $("#datas").text(err);
                console.log(err);
            }
        });
    };
    $('#userButton').on('click', function () {
        getUsers();
    })
    $('#gameinfoButton').on('click', function () {
        getGameInfo();
    })
    $('#gameinfo3Button').on('click', function () {
        getGameInfo(3);
    })
    $('#gameinfo7Button').on('click', function () {
        getGameInfo(7);
    })
    getUsers();
</script>
</body>
</html>